@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

body {
    background-color: #F3F4F6;
}

.sidebar-nav .submenu {
    padding: 10px;
    padding-left: 15px;
}

.sidebar-footer {
    padding: 15px;
}

.sidebar-user {
    border-radius: 10px;
    padding: 10px;
    background-color: #5D87FF;
}

.card-header {
    background-color: #e8e8e8;
}

.sidebar-user {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.sidebar-user,
.sidebar-user-img,
.sidebar-user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.sidebar-user-img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: 8px;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: #fff;
    background-repeat: no-repeat;
}

.sidebar-user-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.sidebar-user__title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .75px;
    color: #fff
}

.sidebar-user__subtitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: .86px;
    color: rgba(255, 255, 255, .5)
}

.darkmode {
    padding-left: 25px;
}

.main-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.img-profil {
    background-color: #fff;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.title-name {
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
}

.title-sub {
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

.verifikasi-not,
.status-reject {
    padding: 7px;
    background-color: #FA896B;
    border-radius: 12px;
    color: #fff;
}

.verifikasi-done,
.status-done {
    padding: 7px;
    background-color: #13DEB9;
    border-radius: 12px;
    color: #fff;
}

.status-review {
    padding: 7px;
    border-radius: 12px;
    background-color: #5D87FF;
    color: #fff;
}

.status-waiting {
    padding: 7px;
    border-radius: 12px;
    background-color: #FFAE1F;
    color: #fff;
}

.btn-accordion {
    background-color: #5D87FF;
    color: #fff;
    font-size: 15px;
}

.proses-selesai {
    padding: 10px;
    padding-left: 103px;
    background-color: #E6FFFA;
    border-radius: 10px;
    color: #212529;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.proses-selesai:hover {
    background-color: #13DEB9;
    color: #fff;
}

.proses-belumselesai {
    padding: 10px;
    padding-left: 50px;
    background-color: #FBF2EF;
    border-radius: 10px;
    color: #212529;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.proses-belumselesai:hover {
    background-color: #FA896B;
    color: #fff;
}

/* ========================================================= Mode Dark =================================================================================== */

html[data-bs-theme=dark] .app-header {
    background: #212529;
}

html[data-bs-theme=dark] body {
    background-color: #2c3035;
}

html[data-bs-theme=dark] .left-sidebar {
    background: #212529;
    border-right: 1px solid rgba(229, 234, 239, 0.126);
}

html[data-bs-theme=dark] .sidebar-nav ul .sidebar-item .sidebar-link {
    color: #F3F4F6;
}
html[data-bs-theme=dark] .nav-small-cap {
    color: #F3F4F6;
}
html[data-bs-theme=dark] i {
    color: #F3F4F6;
}
html[data-bs-theme=dark] label {
    color: #F3F4F6;
}
html[data-bs-theme=dark] .nav-icon-hover::before {
    background: #5d87ff;
}
html[data-bs-theme=dark] .theme-toggle {
    color: #F3F4F6;
}
html[data-bs-theme=dark] .card-header {
    background-color: #151515;
}

/* ========================================================= Mode Dark =================================================================================== */
